.banner{
    background-image: url('/public/image/banner.png'),linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.80));
    background-blend-mode: overlay; 
    margin-bottom: 100px;
   
}
@media only screen and (max-width: 600px) {
    .heading {
      font-size: 1.5rem;
    }
  } 