.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.navbar img{
    width: 165px;

}
.links{
    display: flex;
}
.links li {
    margin-right: 25px;
    list-style: none;
} 



    @media only screen and (max-width: 600px) {
        .navbar {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      } 
  